.jumbotron {
  position: relative;
  overflow: hidden;
  background: #3c3d41;
  background-image: url("/images/banner_long.jpg");
}
.jumbotron .container {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
footer {
  padding: 10px 10px 10px;
  background-color: #3c3d41;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.button-icon {
  padding-right: 10px;
}
.card-icon {
  padding-right: 10px;
}
.card-image {
  padding: 10px 10px 10px 10px;
}
.tab-content {
  padding-top: 10px;
}
